<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="collapse navbar-collapse  d-flex justify-content-between" id="navbarSupportedContent">
            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <h2>Opal</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="home nav-link p-2">Home</a>
                <a href="/estates" class="nav-link p-2">Estates</a>
            </div>
            <div class="d-flex justify-content-center">
                <% if(!currentUser) { %>
                    <a href="/auth/login" class="nav-link p-2">Log</a>
                    <a href="/auth/register" class="nav-link p-2">Sign</a>
                    <% } else { %>
                        <a href="/auth/logout" class="nav-link p-2">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>