<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Opal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estates">Estates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/estates/new">New Estate</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(!currentUser) {%> 
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
        <% }else{ %> 
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <% } %> 
      </ul>
    </div>
  </div>
</nav>