<% layout('layout/home') %>

    <div class="cover-container d-flex w-100 mt-5 text-white  p-5 mx-auto flex-column float-md-right text-center">
        <main class="px-3">
            <h1>Opal</h1>
            <p class="lead"> Welcome to Opal! 
                <br>
                Jump right in and explore our many estates.
                <br>
                Feel free to share some of your own and comment on others!
                <br>
            </p>

            <a href="/auth/signup" class="link-light">
                <h3 class="d-inline">Get Started</h3>
            </a>
        </main>
    </div>

    <!-- <video autoplay muted loop class="homevid" style="position: absolute;">
        <source src="img/homevid.mp4" type="video/mp4">
    </video> -->